#
# Common settings
#

# Name of this server extension (full path)

dist.name = com.zimbra.extension

# Display Name

dist.fullname = Zimbra Extension

# Vendor name

dist.vendor = Zimbra

# Path to extension root

dist.src = src/com/zimbra/extension

#
# Zimbra jars dir
#

zimbra.jars.dir = /path/to/zimbra-jars

#
# Deployment
#

# Host to deploy to

deploy.host = zimbraserver.company.com

# Username to deploy (must be root)

deploy.username = root

# SSH-Keyfile for password-less authentication

deploy.keyfile = ~/.ssh/id_rsa

################################################


#### Settings below shouldn't need changing ####

#
# Deployment
#

# Command to restart mailboxd

deploy.restartmailboxd = su -l zimbra bash -c 'zmmailboxdctl restart'

#
# Build settings
#

# Name of manifest file

project.manifest = conf/MANIFEST.MF

# Temporary directory for preprocessed source

tmpsrc.dir = tmpsrc

# Build directory

build.dir = build

# Distribution directory

dist.dir = dist
